body
{
	background-color: lightgreen;
}
.block1
{
	margin: auto;
	border: 2px solid gray;
	width: 30%;
	padding: 30px;
	border-radius: 5px;
}
h1
{
	text-align: center;
	padding: 1px;
	color: black;
}
.container
{
padding: 25px 25px;
margin: 1px;
margin-top: 10%;
}